name: Test

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      -
        name: Checkout project
        uses: actions/checkout@v2
      -
        name: Test
        run: docker build . -t mabg
